body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding-top: 10px;
}


/*header*/

.header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  background-color: #FFF;
}

.logo-header{
  display: flex;
  background-color: #FFF;
  height: 57px;
  font-size: 3rem;
  color: #2c4b69;
  font-weight: 600;
  align-items: center;
  padding: 20px 30px;
  margin: 1% 0;
  padding: 1% 0;
}
/**/
.user-container{
  display: flex;
}

.logout-button {
  cursor: pointer;
}


/*Hero-banner*/
.hero-banner {
  color: #fff;
  background-color:#2c4b69;
  height: 410px;
}

.banner-description-container {
  padding: 3rem 7rem;
}

.hero-banner-image{
  object-fit: contain;
  height: 400px;
  margin-top: 10px;
}

.hero-banner-container {
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.banner-title {
  font-size: 3rem;
  width: 100%;
}

/*Carousel section*/
.carousel-container{
  padding: 1% 15%;
}
.carousel-banner-image {
  object-fit: cover;
  
}
.thumbs-wrapper{
  display: none;
}

.thumb {
  height: 3rem;
}

/*product list*/
.section-title {
  color: #2c4b69;
  font-weight: bold;
  display: flex;
  width: 50%;
  font-size: 24px;
  grid-gap: 45px;
  align-items: center;
  white-space: nowrap;
  margin: 20px auto 40px;
}

.vertical-divider {
  margin: 0 5px;
}

.span-divider {
  height: 2px;
  display: block;
  width: 50%;
  background: #e3e3e3;
}

.product-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 320px;
    transition: all 0.13s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item:hover {
  transform: scale(1.05);
  border-color: #2c4b69;
}

.product-item:hover a {
  background-color: #345a80;
  color: #FFF;
}

.product-item a{
  display: block;
  text-decoration: none;
  margin: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-weight: 800;
  font-size: 16px;
  border-right: none;
  border-left: none;
  border-top: 1px solid #ccc;
  border-bottom: none;
  padding: 16px 17px;
  cursor: pointer;
  color: #2c4b69;
  font-family: 'Poppins', sans-serif;
  transition: all 0.13s ease;
  text-align: center;
}
.product-item p{
  padding: 0 10px;
  height: 4rem;
}


.title-container h3{
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}

.title-container p{
  font-weight: 900;
  font-size: 22px;
  color: #000;
  margin: 0;
}

.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 15%;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.min-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.user-status ul {
  display: flex;
  justify-content: end;
}

li {
  list-style: none;
}

/*Cart component*/
.cart-container{
  display: flex;
}

.cart-image {
  height: 400px;
  width: auto;
  object-fit: cover;
  object-position: top;
}

.shopping-cart-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top;
}


/*Login form*/
.login-container {
  background-color: #ffffff;
  width: 50%;
  height: 30rem;
  border: 1px solid #e3e3e3;
  margin-top: 2rem;
}

button {
  background: #2c4b69;
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.13s ease;
}

button:hover {
  color: #2c4b69;
  border-color: #2c4b69;
  background: transparent;
}

/*Product page*/
.product-page{
  margin: 2% 15%;
  padding: 2% 10%;
  width: 50%;
  border: 1px solid #ccc;
}

.product-page-container {
  display: flex;
  justify-content: space-around;

}

/*Shopping cart*/

.shopping-cart-section {
  margin: 0 15%;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-button-container {
  display: flex;
}

/*Navbar*/



/*Order details*/
.order-timeline {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.timeline-item {
  flex: 1;
  text-align: center;
  color: #ccc;
  font-size: 16px;
  margin: 0 5px;
}

.timeline-item.active {
  color: #007bff; /* Highlight the active status */
  font-weight: bold;
}

/*Seller Dashboard*/


.seller-db-title{

}



.seller-dashboard {
  width: 80%;
  margin: auto;
}